@use '../styles/variables' as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.2rem;
}

.link {
  @include onglet;
  font-size: 0.78rem;
  padding: 0.6em 1.4em;
}

.linkActive {
  @include onglet-actif;
}

